*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#020617;
position:sticky;
top:0;
}

.logo{
font-size:24px;
font-weight:bold;
color:#38bdf8;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
text-decoration:none;
color:white;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:60px;
margin-bottom:20px;
}

.hero h3{
font-size:30px;
color:#38bdf8;
margin-bottom:15px;
}

.hero p{
font-size:20px;
margin-bottom:30px;
}

.btn{
background:#38bdf8;
padding:12px 25px;
border-radius:30px;
text-decoration:none;
color:black;
font-weight:bold;
}

section{
padding:80px 10%;
}

h2{
font-size:40px;
margin-bottom:30px;
color:#38bdf8;
}

.card,
.project{
background:#1e293b;
padding:25px;
margin-bottom:20px;
border-radius:12px;
}

.skill{
margin-bottom:20px;
}

.bar{
height:15px;
background:#334155;
border-radius:20px;
overflow:hidden;
}

.bar span{
display:block;
height:100%;
background:#38bdf8;
}

footer{
text-align:center;
padding:20px;
background:#020617;
margin-top:50px;
}

@media(max-width:768px){

.hero h1{
font-size:35px;
}

.hero h3{
font-size:22px;
}

nav{
flex-direction:column;
}

nav ul{
margin-top:10px;
}

}