<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Belona Portfolio</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<nav>
    <div class="logo">Belona</div>

    <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>

<section class="hero">

    <h1>Khumbongmayum Belona Devi</h1>

    <h3>Computer Science And Engineering</h3>

    <p>
        Python Developer • SQL Enthusiast • Problem Solver
    </p>

    <a href="#contact" class="btn">
        Contact Me
    </a>

</section>

<section id="about">

    <h2>About Me</h2>

    <p>
        I graduated from NIT Manipur with a degree in computer science and engineering, 
        and I have a solid background in Python, SQL, database management systems, and
        data structures. I have a strong interest in problem-solving, learning new technologies, 
        and developing useful software solutions.
        I like working in cooperative settings where success is fueled by communication,
        teamwork, and shared accomplishments. Through my internship and academic projects, 
        I have honed my technological skills, critical thinking, and flexibility. 
        As a software expert, I'm always looking for ways to broaden my knowledge, 
        improve my abilities, and make a significant contribution to cutting-edge projects.
       
    </p>

</section>

<section id="education">

    <h2>Education</h2>

    <div class="card">

        <h3>NIT Manipur</h3>

        <p>
            B.Tech in Computer Science & Engineering
        </p>

        <p>CGPA : 8.45</p>

        <p>2020 - 2024</p>

    </div>

    <div class="card">

        <h3>Slopeland Public School</h3>

        <p>Science Stream</p>

        <p>Percentage : 82.6%</p>

        <p>2019 - 2020</p>

    </div>

</section>

<section id="skills">

    <h2>Skills</h2>

    <div class="skill">
        <p>Python</p>
        <div class="bar"><span style="width:85%"></span></div>
    </div>

    <div class="skill">
        <p>SQL</p>
        <div class="bar"><span style="width:80%"></span></div>
    </div>

    <div class="skill">
        <p>DBMS</p>
        <div class="bar"><span style="width:85%"></span></div>
    </div>

    <div class="skill">
        <p>Data Structures</p>
        <div class="bar"><span style="width:80%"></span></div>
    </div>

    <div class="skill">
        <p>HTML & CSS</p>
        <div class="bar"><span style="width:75%"></span></div>
    </div>

</section>

<section id="projects">

    <h2>Projects</h2>

    <div class="project">

        <h3>Vending Machine</h3>

        <p>
            Designed and implemented a functional vending machine system with 
            integrated hardware and software for efficient operation. 
            Achieved reliable performance through rigorous testing and 
            documentation of system specifications and user instructions.

        </p>

    </div>

    <div class="project">

        <h3>PCG Classification using Scalogram and CNN</h3>

        <p>
            Utilized PCG signals to generate scalogram images for the purpose 
            of classifying heart conditions as normal or abnormal.
            Developed and implemented image analysis techniques to differentiate 
            between normal and abnormal heart conditions based on scalogram images.
            Applied machine learning algorithms to scalogram image data to improve 
            the accuracy of heart condition classification.
        </p>

    </div>

</section>

<section id="contact">

    <h2>Contact Me</h2>

    <p>Email : khbelona@gmail.com</p>

    <p>Phone : +91 9366813831</p>

    <p>Location : Wabagai, Kakching 795103, Manipur</p>

</section>

<footer>

    <p>
        © 2026 Khumbongmayum Belona Devi
    </p>

</footer>

</body>
</html>